
@{
    ViewBag.Title = "Collection";
    Layout = "~/Views/Share/Client_LayoutPage.cshtml";
}
<!-- Gallery Section end -->
<section class="gallery-section">
    <div class="gallery-header">
        <h4>Gallery</h4>
        <ul class="gallery-filter"></ul>
    </div>
    <div class="nice-scroll">
        <div class="gallery-warp">
            <div class="grid-sizer"></div>
            <div class="gallery-item gi-big featured">
                <a class="fresco" href="~/Content/img/Page/anh1.jpg" data-fresco-group="projects">
                    <img src="~/Content/img/Page/anh1.jpg" alt="">
                </a>
                <div class="gi-hover">
                    <img src="~/Content/img/Page/author.jpg" alt="">
                    <h6>Arthur Rose</h6>
                </div>
            </div>
            <div class="gallery-item people">
                <a class="fresco" href="~/Content/img/Page/anh2.jpg" data-fresco-group="projects">
                    <img src="~/Content/img/Page/anh2.jpg" alt="">
                </a>
                <div class="gi-hover">
                    <img src="~/Content/img/Page/anh13.jpg" alt="">
                    <h6>Arthur Rose</h6>
                </div>
            </div>
            <div class="gallery-item nature">
                <a class="fresco" href="~/Content/img/Page/anh3.jpg" data-fresco-group="projects">
                    <img src="~/Content/img/Page/anh3.jpg" alt="">
                </a>
                <div class="gi-hover">
                    <img src="~/Content/img/Page/author.jpg" alt="">
                    <h6>Arthur Rose</h6>
                </div>
            </div>
            <div class="gallery-item gi-long travel">
                <a class="fresco" href="~/Content/img/Page/anh4.jpg" data-fresco-group="projects">
                    <img src="~/Content/img/Page/anh4.jpg" alt="">
                </a>
                <div class="gi-hover">
                    <img src="~/Content/img/img1/hero/author.jpg" alt="">
                    <h6>Arthur Rose</h6>
                </div>
            </div>
            <div class="gallery-item gi-big animal">
                <a class="fresco" href="~/Content/img/Page/anh6.jpg" data-fresco-group="projects">
                    <img src="~/Content/img/Page/anh6.jpg" alt="">
                </a>
                <div class="gi-hover">
                    <img src="~/Content/img/img1/hero/author.jpg" alt="">
                    <h6>Arthur Rose</h6>
                </div>
            </div>
            <div class="gallery-item gi-big featured">
                <a class="fresco" href="~/Content/img/Page/anh5.jpg" data-fresco-group="projects">
                    <img src="~/Content/img/Page/anh5.jpg" alt="">
                </a>
                <div class="gi-hover">
                    <img src="~/Content/img/img1/hero/author.jpg" alt="">
                    <h6>Arthur Rose</h6>
                </div>
            </div>
            <div class="gallery-item travel">
                <a class="fresco" href="~/Content/img/Page/anh7.jpg" data-fresco-group="projects">
                    <img src="~/Content/img/Page/anh7.jpg" alt="">
                </a>
                <div class="gi-hover">
                    <img src="~/Content/img/img1/hero/author.jpg" alt="">
                    <h6>Arthur Rose</h6>
                </div>
            </div>
            <div class="gallery-item people">
                <a class="fresco" href="~/Content/img/Page/anh8.jpg" data-fresco-group="projects">
                    <img src="~/Content/img/Page/anh8.jpg" alt="">
                </a>
                <div class="gi-hover">
                    <img src="~/Content/img/img1/hero/author.jpg" alt="">
                    <h6>Arthur Rose</h6>
                </div>
            </div>
            <div class="gallery-item animal">
                <a class="fresco" href="~/Content/img/Page/anh24.jpg" data-fresco-group="projects">
                    <img src="~/Content/img/Page/anh24.jpg" alt="">
                </a>
                <div class="gi-hover">
                    <img src="~/Content/img/img1/hero/author.jpg" alt="">
                    <h6>Arthur Rose</h6>
                </div>
            </div>
            <div class="gallery-item gi-big travel">
                <a class="fresco" href="~/Content/img/Page/anh10.jpg" data-fresco-group="projects">
                    <img src="~/Content/img/Page/anh10.jpg" alt="">
                </a>
                <div class="gi-hover">
                    <img src="~/Content/img/img1/hero/author.jpg" alt="">
                    <h6>Arthur Rose</h6>
                </div>
            </div>
            <div class="gallery-item featured">
                <a class="fresco" href="~/Content/img/Page/anh17.jpg" data-fresco-group="projects">
                    <img src="~/Content/img/Page/anh17.jpg" alt="">
                </a>
                <div class="gi-hover">
                    <img src="~/Content/img/img1/hero/author.jpg" alt="">
                    <h6>Arthur Rose</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Gallery Section end -->
@*<!-- Hero Section end -->
<section class="hero-section">
    <div class="pana-accordion" id="accordion">
        <div class="pana-accordion-wrap">
            <div class="pana-accordion-item set-bg" data-setbg="">
	<section class="hero-section">
		<div class="pana-accordion" id="accordion">
    		<div class="pana-accordion-wrap">
				<div class="pana-accordion-item set-bg" data-setbg="@Url.Content("~/Content/img/Page/anh4.jpg")">
					<div class="pa-text">
						<div class="pa-tag">people</div>
						<h2>69 Flavio Burg Suite</h2>
						<div class="pa-author">
							<img src="~/Content/img/img1/hero/author.jpg" alt="">
							<h4>Arthur Rose</h4>
						</div>
					</div>
				</div>
				<div class="pana-accordion-item set-bg" data-setbg="@Url.Content("~/Content/img/Page/anh5.jpg")">
					<div class="pa-text">
						<div class="pa-tag">people</div>
						<h2>69 Flavio Burg Suite</h2>
						<div class="pa-author">
							<img src="~/Content/img/img1/hero/author.jpg" alt="">
							<h4>Arthur Rose</h4>
						</div>
					</div>
				</div>
				<div class="pana-accordion-item set-bg" data-setbg="@Url.Content("~/Content/img/Page/anh6.jpg")">
					<div class="pa-text">
						<div class="pa-tag">people</div>
						<h2>69 Flavio Burg Suite</h2>
						<div class="pa-author">
							<img src="~/Content/img/img1/hero/author.jpg" alt="">
							<h4>Arthur Rose</h4>
						</div>
					</div>
				</div>
				<div class="pana-accordion-item set-bg" data-setbg="@Url.Content("~/Content/img/Page/anh7.jpg")">
					<div class="pa-text">
						<div class="pa-tag">people</div>
						<h2>69 Flavio Burg Suite</h2>
						<div class="pa-author">
							<img src="~/Content/img/img1/hero/author.jpg" alt="">
							<h4>Arthur Rose</h4>
						</div>
					</div>
				</div>
				<div class="pana-accordion-item set-bg" data-setbg="@Url.Content("~/Content/img/Page/anh10.jpg")">
					<div class="pa-text">
						<div class="pa-tag">people</div>
						<h2>69 Flavio Burg Suite</h2>
						<div class="pa-author">
							<img src="~/Content/img/img1/hero/author.jpg" alt="">
							<h4>Arthur Rose</h4>
						</div>
					</div>
				</div>
	    	</div>
		</div>
		<div class="hero-slider-warp">
			<div class="hero-slider owl-carousel">
				<div class="hero-item set-bg" data-setbg="@Url.Content("~/Content/img/Page/anh5.jpg")">
					<div class="pa-text">
						<div class="pa-tag">people</div>
						<h2>69 Flavio Burg Suite</h2>
						<div class="pa-author">
							<img src="~/Content/img/img1/hero/author.jpg" alt="">
							<h4>Arthur Rose</h4>
						</div>
					</div>
				</div>
				<div class="hero-item set-bg" data-setbg="@Url.Content("~/Content/img/Page/anh6.jpg")">
					<div class="pa-text">
						<div class="pa-tag">people</div>
						<h2>69 Flavio Burg Suite</h2>
						<div class="pa-author">
							<img src="~/Content/img/img1/hero/author.jpg" alt="">
							<h4>Arthur Rose</h4>
						</div>
					</div>
				</div>
				<div class="hero-item set-bg" data-setbg="@Url.Content("~/Content/img/Page/anh7.jpg")">
					<div class="pa-text">
						<div class="pa-tag">people</div>
						<h2>69 Flavio Burg Suite</h2>
						<div class="pa-author">
							<img src="~/Content/img/img1/hero/author.jpg" alt="">
							<h4>Arthur Rose</h4>
						</div>
					</div>
				</div>
				<div class="hero-item set-bg" data-setbg="@Url.Content("~/Content/img/Page/anh8.jpg")">
					<div class="pa-text">
						<div class="pa-tag">people</div>
						<h2>69 Flavio Burg Suite</h2>
						<div class="pa-author">
							<img src="~/Content/img/img1/hero/author.jpg" alt="">
							<h4>Arthur Rose</h4>
						</div>
					</div>
				</div>
				<div class="hero-item set-bg" data-setbg="@Url.Content("~/Content/img/Page/anh10.jpg")">
					<div class="pa-text">
						<div class="pa-tag">people</div>
						<h2>69 Flavio Burg Suite</h2>
						<div class="pa-author">
							<img src="~/Content/img/img1/hero/author.jpg" alt="">
							<h4>Arthur Rose</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section end -->
 *@             